<nav class="sidebar sidebar-toggle" data-toggle="collapse" data-target="#example-sidebar-collapse" style="background-color:#006064; margin-top:0;box-shadow: 2px 4px 10px #006064 ">
<ul class="list-group" style="margin:0;">
	<br>
	<br>
	<span class = "sr-only">Toggle navigation</span>
		<a [routerLink]="['myprofile']" class="list-group-item card-1" 
		style="background-color: white;border: none;
    		color:black;
    		padding: 15px 32px 10px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			width:230px;
			border-radius: 12px;">
		My Profile &nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-user" style="float:right; "></span></a>
		<br>
		<br>
		<a [routerLink]="['accounts']" class="list-group-item card-1 " 
		style="background-color: white;border: none;
    		color:black;
    		padding: 15px 32px 10px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			width:230px;
			border-radius: 12px;">
		Accounts <span class="glyphicon glyphicon-list" style="float:right;"></span></a>
		<br>
		<br>

		<a [routerLink]="['benificiaries']" class="list-group-item card-1" 
		style="background-color: white;border: none;
    		color:black;
    		padding: 15px 32px 10px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			width:230px;
			border-radius: 12px;">
		Benificiaries <span class="glyphicon glyphicon-tasks" style="float:right;"></span></a>
		<br>
		<br>
		<a [routerLink]="['transfers']" class="list-group-item card-1" 
		style="background-color: white;border: none;
    		color:black;
    		padding: 15px 32px 10px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			width:230px;
			border-radius: 12px;">

		Transfers <span class="glyphicon glyphicon-briefcase" style="float:right;"></span></a>
	</ul>
	
</nav>