<nav class="sidebar" style="background-color:#006064; padding:0 5px;border:0;color:white;  box-shadow: 0px 4px 10px #006064 ">
	<ul class="list-group" style="margin:0;">
		<br/>
		<br/>
		<a [routerLink]="['/admindashboard']" class="list-group-item card-1" 
		style="background-color: white;border: none;
    		color:black;
    		padding: 15px 32px 10px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			width:220px;
			border-radius: 12px;">
		Dashboard <span class="glyphicon glyphicon-chevron-right" style="float:right; "></span></a>
		<br/>
		<br/>
		<a [routerLink]="['pendingrequests']" class="list-group-item card-1" 
		style="background-color: white;border: none;
    		color:black;
    		padding: 15px 32px 10px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			width:220px;
			border-radius: 12px;">
		Approvals <span class="glyphicon glyphicon-chevron-right" style="float:right; "></span></a>
<br/>
<br/>
		<a [routerLink]="['manageusers']" class="list-group-item card-1" 
		style="background-color: white;border: none;
    		color:black;
    		padding: 15px 32px 10px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			width:220px;
			border-radius: 12px;">
		Users <span class="glyphicon glyphicon-chevron-right" style="float:right;"></span></a>
<br/><br/>
		<a [routerLink]="['manageaccounts']" class="list-group-item card-1" 
		style="background-color: white;border: none;
    		color:black;
    		padding: 15px 32px 10px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			width:220px;
			border-radius: 12px;">
		Accounts<span class="glyphicon glyphicon-chevron-right" style="float:right;"></span></a>
<br/>
<br/>
		<a [routerLink]="['managetransactions']" class="list-group-item card-1" 
		style="background-color: white;border: none;
    		color:black;
    		padding: 15px 32px 10px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			width:220px;
			border-radius: 12px;">
		Transactions<span class="glyphicon glyphicon-chevron-right" style="float:right;"></span></a>

	</ul>
	</nav>